@font-face {
    font-family: "Hj";
    src: url("../fonts/Hj.eot");
    src: url("../fonts/Hj.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Hj.woff") format("woff"),
        url("../fonts/Hj.ttf") format("truetype"),
        url("../fonts/Hj.svg#Hj") format("svg");
    font-weight: normal;
    font-style: normal;
}
.hj {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Hj';
}

.hj-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -0.0667em;
}

.hj-xs {
    font-size: 0.75em;
}

.hj-sm {
    font-size: 0.875em;
}

.hj-1x {
    font-size: 1em;
}

.hj-2x {
    font-size: 2em;
}

.hj-3x {
    font-size: 3em;
}

.hj-4x {
    font-size: 4em;
}

.hj-5x {
    font-size: 5em;
}

.hj-6x {
    font-size: 6em;
}

.hj-7x {
    font-size: 7em;
}

.hj-8x {
    font-size: 8em;
}

.hj-9x {
    font-size: 9em;
}

.hj-10x {
    font-size: 10em;
}

.hj-fw {
    text-align: center;
    width: 1.25em;
}

.hj-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}

.hj-ul > li {
    position: relative;
}
.hj-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

.hj-border {
    border: solid 0.08em #eee;
    border-radius: 0.1em;
    padding: 0.2em 0.25em 0.15em;
}

.hj-pull-left {
    float: left;
}

.hj-pull-right {
    float: right;
}

.hj.hj-pull-left {
    margin-right: 0.3em;
}

.la.hj-pull-right {
    margin-left: 0.3em;
}

.hj-spin {
    -webkit-animation: hj-spin 2s infinite linear;
    animation: hj-spin 2s infinite linear;
}

.hj-pulse {
    -webkit-animation: hj-spin 1s infinite steps(8);
    animation: hj-spin 1s infinite steps(8);
}

@-webkit-keyframes la-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes la-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.hj-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hj-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.hj-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.hj-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.hj-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
}

.hj-flip-both,
.hj-flip-horizontal.hj-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

:root .hj-rotate-90,
:root .hj-rotate-180,
:root .hj-rotate-270,
:root .hj-flip-horizontal,
:root .hj-flip-vertical,
:root .hj-flip-both {
    -webkit-filter: none;
    filter: none;
}

.hj-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.hj-stack-1x,
.hj-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.hj-stack-1x {
    line-height: inherit;
}

.hj-stack-2x {
    font-size: 2em;
}

.hj-inverse {
    color: #fff;
}

.hj-hj:before {
    content: "\0041";
}
.hj-mercado-libre:before {
    content: "\0042";
}
.hj-estafeta:before {
    content: "\0043";
}
.hj-bbva:before {
    content: "\0044";
}
.hj-mercado-libre-alt:before {
    content: "\0045";
}
.hj-product-return:before {
    content: "\0046";
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
